<!-- ToolBar -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>SweetHome</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/home'"> Página Principal </a>
            <a mat-button [routerLink]="'/about'"> Sobre </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- SideNav -->
<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/list-product'"> Listar Produtos </a>
        <a mat-list-item [routerLink]="'/create-product'"> Novo Produto </a>
        <a mat-list-item [routerLink]="'/create-order'"> Nova Venda </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>